src/lib/crsfml/docs/icon.png
src/lib/crsfml/docs/logo.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-antialiasing.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-circle.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-color.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-convex.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-ellipse.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-line-primitive.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-line-rectangle.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-outline.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-rectangle.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-regular.png
src/lib/crsfml/docs/tutorials/graphics/images/shape-texture.png
src/lib/crsfml/docs/tutorials/graphics/images/sprites-color.png
src/lib/crsfml/docs/tutorials/graphics/images/sprites-definition.png
src/lib/crsfml/docs/tutorials/graphics/images/sprites-repeated.png
src/lib/crsfml/docs/tutorials/graphics/images/sprites-smooth.png
src/lib/crsfml/docs/tutorials/graphics/images/text-draw.png
src/lib/crsfml/docs/tutorials/graphics/images/transform-bounds.png
src/lib/crsfml/docs/tutorials/graphics/images/transform-position.png
src/lib/crsfml/docs/tutorials/graphics/images/transform-rotation.png
src/lib/crsfml/docs/tutorials/graphics/images/transform-scale.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-lines-strip.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-lines.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-particles.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-points.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-quads.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-tilemap.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-tileset.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-triangle.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-triangles-fan.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-triangles-strip.png
src/lib/crsfml/docs/tutorials/graphics/images/vertex-array-triangles.png
src/lib/crsfml/docs/tutorials/graphics/images/view-initial.png
src/lib/crsfml/docs/tutorials/graphics/images/view-minimap.png
src/lib/crsfml/docs/tutorials/graphics/images/view-rotated.png
src/lib/crsfml/docs/tutorials/graphics/images/view-scaled.png
src/lib/crsfml/docs/tutorials/graphics/images/view-split-screen.png
src/lib/crsfml/docs/tutorials/graphics/images/view-translated.png
src/lib/crsfml/docs/tutorials/graphics/images/view-viewport.png
src/lib/crsfml/logo.png
src/lib/crsfml/README.md
src/lib/crsfml/docs/style.css
src/lib/crsfml/docs/api/audio.md
src/lib/crsfml/docs/api/graphics.md
src/lib/crsfml/docs/api/network.md
src/lib/crsfml/docs/api/system.md
src/lib/crsfml/docs/api/window.md
src/lib/crsfml/docs/tutorials/audio/recording.md
src/lib/crsfml/docs/tutorials/audio/sounds.md
src/lib/crsfml/docs/tutorials/audio/spatialization.md
src/lib/crsfml/docs/tutorials/audio/streams.md
src/lib/crsfml/docs/tutorials/graphics/draw.md
src/lib/crsfml/docs/tutorials/graphics/shader.md
src/lib/crsfml/docs/tutorials/graphics/shape.md
src/lib/crsfml/docs/tutorials/graphics/sprite.md
src/lib/crsfml/docs/tutorials/graphics/text.md
src/lib/crsfml/docs/tutorials/graphics/transform.md
src/lib/crsfml/docs/tutorials/graphics/vertex-array.md
src/lib/crsfml/docs/tutorials/graphics/view.md
src/lib/crsfml/docs/tutorials/network/ftp.md
src/lib/crsfml/docs/tutorials/network/http.md
src/lib/crsfml/docs/tutorials/network/packet.md
src/lib/crsfml/docs/tutorials/network/socket.md
src/lib/crsfml/docs/tutorials/system/stream.md
src/lib/crsfml/docs/tutorials/system/thread.md
src/lib/crsfml/docs/tutorials/system/time.md
src/lib/crsfml/docs/tutorials/window/events.md
src/lib/crsfml/docs/tutorials/window/inputs.md
src/lib/crsfml/docs/tutorials/window/opengl.md
src/lib/crsfml/docs/tutorials/window/window.md
src/lib/crsfml/examples/diagnostics.cr
src/lib/crsfml/examples/echo.cr
src/lib/crsfml/examples/flippy_bird.cr
src/lib/crsfml/examples/gl.cr
src/lib/crsfml/examples/README.md
src/lib/crsfml/examples/shader.cr
src/lib/crsfml/examples/shapes.cr
src/lib/crsfml/examples/simple.cr
src/lib/crsfml/examples/snakes.cr
src/lib/crsfml/examples/sound_capture.cr
src/lib/crsfml/examples/text_input.cr
src/lib/crsfml/examples/transformable.cr
src/lib/crsfml/examples/resources/background.jpg
src/lib/crsfml/examples/resources/bird.png
src/lib/crsfml/examples/resources/keyboard-layout.yaml
src/lib/crsfml/examples/resources/shaders/blur.frag
src/lib/crsfml/examples/resources/shaders/pixelate.frag
src/lib/crsfml/examples/resources/shaders/wave.vert
src/lib/crsfml/examples/resources/font/Cantarell-Regular.otf
src/lib/crsfml/examples/resources/font/COPYING
src/lib/crsfml/docs/README.md
src/lib/crsfml/docs/requirements.in
src/lib/crsfml/docs/requirements.txt
src/lib/crsfml/docs/tutorials/LICENSE
src/lib/crsfml/docs/tutorials/README.md
